<html>
    <head> 
    </head>

    <body>
         <h1>Conformation Trips added</h1>
         Title: {{title}} <br>
         Leave Date: {{leave}} <br>
         Return Date: {{returnDate}}
        
         

        
    </body>

</html>

