<html>
    <head> 
    </head>

    <body>
        <form method="POST" action= "movies/add-newMovie">
            <input type="email" placeholder="Enter email" name="email" />       
            <input type="password" placeholder="Enter Password" name="password" />
            <button>submit</button> 
        </form>

        <a  href="register">
         
          <button>Register</button>
          </a>
       </form>
        
       
    </body>

</html>