<html>
    <head> 
    </head>

    
    <body>
    <h1>Registration</h1>
        <form method="POST" action= "/login">
            <input type="email" placeholder="Enter email" name="email" />       
            <input type="password" placeholder="Enter Password" name="password" />
            <button>submit</button> 
        </form>
    
       
    </body>

</html>